import io
import os

import setuptools

name = "{{name}}"
version = "{{version}}"
dependencies = [
    {{dependencies}}
]

packages = [
    package for package in setuptools.find_packages()
    if package.startswith("google")
]

setuptools.setup(
    name=name,
    version=version,
    description=description,
    platforms="Posix; MacOS X; Windows",
    packages=packages,
    install_requires=dependencies,
    python_requires=">=2.7,!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*",
    include_package_data=True,
    zip_safe=False,
)
